body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 20px;
}

.book-detail-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
}

.book-details {
    width: 30%;
    text-align: center;
}

.book-details img {
    width: 80%;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.book-details h2 {
    font-size: 24px;
    margin: 10px 0;
}

.book-details .author {
    font-size: 16px;
    color: #fff;
    background-color: #4caf50;
    padding: 4px 8px;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
}

.inventory {
    width: 50%;
}

.inventory h3 {
    font-size: 22px;
    margin-bottom: 10px;
    text-align: left;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

thead {
    background-color: #f0f0f0;
}

thead th {
    padding: 12px 15px;
    text-align: left;
    font-size: 16px;
}

tbody td {
    padding: 12px 15px;
    border-bottom: 1px solid #f0f0f0;
    font-size: 14px;
    text-align: left;
}

tbody tr:last-child td {
    border-bottom: none; /* Remove bottom border from the last row */
}

.action-button {
    background: none;
    border: none;
    color: #007bff;  /* Blue text color */
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    padding: 0;
  }
  
  .action-button:hover {
    text-decoration: underline;  /* Underline on hover to indicate it's clickable */
  }
  
  .action-button.return {
    color: #007bff;  /* Blue color for Return button */
  }
  
  .action-button.borrow {
    color: #007bff;  /* Blue color for Borrow button */
  }